.menu {
  background-color: green;
  color: gold;
  border: solid;
  display: inline;
}
h1 {
  margin-left: 5%;
  font: 1.2em Arial, Helvetica, sans-serif;
}
input.txt {
  color: #00008B;
  background-color: #E3F2F7;
  border: 1px inset #00008B;
  width: 200px;
}
input.phone_txt {
  color: #00008B;
  background-color: #E3F2F7;
  border: 1px inset #00008B;
  width: 64px;
}
input.btn {
  color: #00008B;
  background-color: #ADD8E6;
  border: 1px outset #00008B;
  margin-left: 25%;
}
form p {
  clear: left;
  margin: 0;
  padding: 0;
  padding-top: 5px;
}
form p label {
  float: left;
  width: 30%;
  font: bold 0.9em Arial, Helvetica, sans-serif;
  text-align: right;
}

form p label.radio_label
{
  font: italic 0.9em Arial, Helvetica, sans-serif;
  display: inline;
  float: none;
  width: 50px;
  text-align: left;
}

form div.previous_courses_checkboxes label.checkbox_label 
{
  font: italic 0.9em Arial, Helvetica, sans-serif;
  display: inline;
  float: none;
}

.previous_courses_checkboxes {
  padding-left: 20%;
}

#error_message_for_down_payment,
#error_message_for_loan_amount
{
  color: red;
  font: 0.9em Arial, Helvetica, sans-serif;
  border: 1px outset red;
  background-color: yellow;
  display: none;
}
