.DS_Store
config/database.yml
coverage
coverage.data
db/*.sqlite3
db/schema.rb
doc/api
doc/controllers.png
doc/models.png
log/*.log
metrics
nexttesting.tmproj
public/system
roodi.yml
storage
tmp/**/*
tmp/*.html
*~
*.swp
*.class
mkmf.log
public/images/Thumbs.db
public/images/active_scaffold/DO_NOT_EDIT
public/javascripts/active_scaffold/DO_NOT_EDIT
public/stylesheets/active_scaffold/DO_NOT_EDIT
