<h1>Tasks for <%=h @user.username %></h1>

<form action="/tasks" class="new_task" id="new_task" method="post">

  Add Task: <input type="text" id="txtTask" />
  <input type="button" id="btnAdd" value="add task" />
  <input name="user_username" type="hidden" value="<%=h @user.username %>" />
  <input name="user_id" type="hidden" value="<%=h @user.id %>" />
</form>
<ol id="task_list">

</ol>



<br />
<a href="/jquery_lab_1/index.html">Login Page</a>
